# catkin
build/
devel/
log/
install/
.depend

# catkin workspace (inside this repo)
catkin_ws/build/
catkin_ws/devel/
catkin_ws/log/
catkin_ws/install/
# misc
*.pyc
__pycache__/
*.swp
# large data
debug_images/
*.json
*copy*
*.md
