<launch>
  <arg name="tcp_ip" default="0.0.0.0"/>
  <arg name="tcp_port" default="10000"/>
  <rosparam param="ROS_IP">0.0.0.0</rosparam>

  <!-- Estop ROS node: set hostname and timeout here -->
  <node
      pkg="spot_hololens_llm_interface"
      type="estop_ros_node.py"
      name="estop_node"
      output="screen">
    <param name="timeout" value="5.0"/>
    <param name="hostname" value="192.168.1.109"/>
  </node>

  <node
      pkg="spot_hololens_llm_interface"
      type="fsm_node.py"
      name="fsm_node"
      output="screen"
      args=""
    />
  <node name="unity_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" output="screen">
    <param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
    <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
  </node>
</launch>