<launch>
  <arg name="tcp_ip" default="0.0.0.0"/>
  <arg name="tcp_port" default="10000"/>
  <rosparam param="ROS_IP">0.0.0.0</rosparam>
  <node
      pkg="spot_fsm_control"
      type="fsm_node.py"
      name="fsm_node" 
      output="screen" 
      args=""
    />
  <node
      pkg="gesture_classification"
      type="gesture_node.py"
      name="gesture_node" 
      output="screen" 
      args=""
  />
  <!-- <node
      pkg="discrete_controller_control"
      type="main.py"
      name="discrete_controller_control" 
      output="screen" 
      args=""
    /> -->
  <node name="unity_endpoint" pkg="ros_tcp_endpoint" type="default_server_endpoint.py" output="screen">
    <param name="tcp_ip" type="string" value="$(arg tcp_ip)"/>
    <param name="tcp_port" type="int" value="$(arg tcp_port)"/>
  </node>
</launch>